*{
    margin: 0%;
    padding: 0%;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
  margin-left: -15px;
  color: white;
  font-size: 25px;
}
/* .navbar-header:hover{
    background-color: aqua;
    color: black;
} */
.navbar-right li :hover{
  background-color: aqua;
}
.navbar-inverse .navbar-nav>li>a {
  color: white;
  font-size: 22px;
}
.carousel-inner>.item>img{
  width: 100%;
  height: 620px;
  background-color: white;
}

.row button{
  margin:100px;
  padding: 10px;
  font-size: 20px;
}
footer{
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: 0%;
}
table{
  background-color: white;
}
th,tr,td{
  border: 3px solid;
  font-size: 17px;
}

